.my-navbar {
    font-family: sans-serif;
    text-align: center;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 1px 20px 0px #0000002b;
}

#navbar-text {
    margin: auto;
}

.my-container {
    margin-top: 5.5rem;
}

.my-col {
    margin: auto;
}